button {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    background-color: #4a4a4a;
    border: none;
    border-radius: 5px;
}

.SearchTile button:hover {
    background-color: #3c3c3c;
}