.Main {
    padding: 50px;
}

h {
    font-size: 35px;
    font-weight: bolder;
}

.Logo {
    align-self: center;
}

.AppBody {
    align-self: center;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.SearchTile {
    height: 100px;
    width: 20vw;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
    margin-bottom: 20px;
    padding: 20px;
    color: #dadcc6;
    background-color: #666361;
    border: none;
    border-radius: 10px;
}

.SearchTile input {
    font-size: 10px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #dadcc6;
    background-color: #3e3e3e;
    border: none;
    border-radius: 5px;
}

.SearchTile input::placeholder {
     color: #dadcc6;
 }

@media (max-width: 1200px) {
    .SearchTile {
        width: 50%;
    }
}

.WeatherTilesContainer {
    width: 500px;
}


.Localization {
    font-size: larger;
    font-weight: bolder;
}

.DateMessage {
    font-size: small;
}